# Veja https://help.github.com/articles/ignoring-files/ para entender mais sobre arquivos ignorados.

# Dependências
/node_modules
/.pnp
.pnp.js

# Testes
/coverage

# Produção
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
